.playr{
    height: 100%;
    width: 98%;
    margin: auto;
    position: relative;
    .screenSwap{
        width: 100%;
        height: 98%;
        background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 5px;
    }

    .repeatButton{
        height: 70px;
        left: 10%;
        margin: -40px 0 0 -80px;
        position: absolute;
        top: 50%;
        width: 160px;
        .icons{
            height: 20%;
            width: auto;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        
            flex-grow: 1;
            margin: -10px 0 0 0;
        }
    }

    .repeatButton .icons.isNotMobile{
            height: 40%;
            left:60%;
        }
    

    .bars {
        height: 70px;
        left: 50%;
        margin: -40px 0 0 -80px;
        position: absolute;
        top: 50%;
        width: 160px;
        .icons{
            height: 150%;
            width: auto;
            flex-grow: 1;
            margin: -10px 0 0 0;
        }
    }

    .bar ,.staticbar {
        background: #666;
         bottom: 1px;
         height: 30px;
         position: absolute;
         width: 12px;      
         animation: sound 0ms -800ms linear infinite alternate;
     }
     
     @keyframes sound {
         0% {
            opacity: .35;
             height: 15px; 
         }
         100% {
             opacity: 1;       
             height: 70px;        
         }
     }
     
     .bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
     .bar:nth-child(2)  { left: 20px; animation-duration: 433ms; }
     .bar:nth-child(3)  { left: 36px; animation-duration: 407ms; }
     .bar:nth-child(4)  { left: 52px; animation-duration: 458ms; }
     .bar:nth-child(5)  { left: 68px; animation-duration: 400ms; }
     .bar:nth-child(6)  { left: 84px; animation-duration: 427ms; }
     .bar:nth-child(7)  { left: 100px; animation-duration: 441ms; }
     .bar:nth-child(8)  { left: 116px; animation-duration: 419ms; }
     .bar:nth-child(9)  { left: 132px; animation-duration: 487ms; }
     .bar:nth-child(10) { left: 148px; animation-duration: 442ms; }


     .staticbar:nth-child(1)  { left: 1px;height: 30px; }
     .staticbar:nth-child(2)  { left: 20px;height: 70px; }
     .staticbar:nth-child(3)  { left: 36px; height: 50px; }
     .staticbar:nth-child(4)  { left: 52px; height: 30px; }
     .staticbar:nth-child(5)  { left: 68px; height: 70px; }
     .staticbar:nth-child(6)  { left: 84px; height: 50px; }
     .staticbar:nth-child(7)  { left: 100px; height: 30px; }
     .staticbar:nth-child(8)  { left: 116px; height: 70px; }
     .staticbar:nth-child(9)  { left: 132px; height: 50px; }
     .staticbar:nth-child(10) { left: 148px; height: 30px; }

    .utubeIcon{
        width: 100%;
        height: 16%;
       position: absolute;
        top: 85%;
        transform: translateY(-50%);
        z-index: 999;
        display: flex;
        justify-content: space-around;
    }
    .utubeTitle{
        width: 100%;
        height: 12%;
       position: absolute;
        top: 10%;
        transform: translateY(-50%);
        z-index: 999;
        display: flex;
        justify-content: flex-start;
        font-size: 150%;
        .titleNm{
            padding-left: 20px;
            font-family: 'Ubuntu', sans-serif;
            
        }
    }
    .icons{
        height: 100%;
        flex-grow: 1;
    }
    
}