<div  class="playr">
  <div #outpt class="screenSwap">
    <div [hidden]="!showYoutube" class="videoOutput">
  
      <youtube-player
            [videoId]="id"
            (ready)="savePlayer($event)"
            (change)="onStateChange($event)"
          ></youtube-player>
    
    </div>
    <div *ngFor="let song of playerQueue" >
      <div>{{song.title}}</div>
    </div>
    <div class="utubeIcon">
      <mat-icon role="button" class="icons" (click)="showYoutube=!showYoutube" [svgIcon]="showYoutube?'ipod':'youtube'" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <mat-icon role="button" (click)="play()" class="icons" svgIcon="prev" aria-hidden="false" ></mat-icon>
      <mat-icon role="button" (click)="play()" class="icons" svgIcon="play" aria-hidden="false" ></mat-icon>
      <mat-icon role="button" (click)="pause()" class="icons" svgIcon="pause" aria-hidden="false" ></mat-icon>
      <mat-icon role="button" (click)="play()" class="icons" svgIcon="next" aria-hidden="false" ></mat-icon>
    </div>
    
    
  </div>
  
  <!-- <div class="controlButtons">
    <app-buttons icon="fa fa-play" (buttonClicked)="play()"></app-buttons>
    <app-buttons icon="fa fa-pause" (buttonClicked)="pause()"></app-buttons>
    
  </div> -->
  
</div>