<div  class="playr">
  <div [hidden]="initializing" #outpt class="screenSwap">
    <div [hidden]="!showYoutube" class="videoOutput">
  
      <youtube-player
            [videoId]="id"
            (ready)="savePlayer($event)"
            (change)="onStateChange($event)"
          ></youtube-player>
    
    </div>

    <div [hidden]="queExpanded" class="soundBars">
      <div class="repeatButton">
          <mat-icon [hidden]="!repeatOn" role="button" (click)="repeatOn=!repeatOn" class="icons" [ngClass]="{'isNotMobile':!screenSt.isMobile}" [svgIcon]="repeatOn?'repeatOn':'repeatOff'" aria-hidden="false" ></mat-icon>
      </div>
    </div>

    <div [hidden]="playerState!=1 || showYoutube || queExpanded" class="soundBars">
        <div class="bars">

            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
    <div [hidden]="playerState==1 || showYoutube || queExpanded" class="soundBars">
      <div class="bars"> 
          <div class="staticbar"></div>
            <div class="staticbar"></div>
            <div class="staticbar"></div>
            <div class="staticbar"></div>
            <div class="staticbar"></div>
            <div class="staticbar"></div>
            <div class="staticbar"></div>
            <div class="staticbar"></div>
            <div class="staticbar"></div>
            <div class="staticbar"></div>
      </div>
    </div>

    <div [ngClass]="{'expanded':queExpanded}" class="utubeTitle" *ngFor="let song of playerQueue;let in = index" >
      <div class="titleNm" *ngIf="in==currentIndex">{{song.title | titlecase}} </div>
    </div>
    <div [ngClass]="{'expanded':queExpanded}" class="ellFullTime">
        <div class="ellTime">{{elapsedTime *1000 | date:'mm:ss':'GMT+0'}}</div>
        <div class="fullTime">{{songTime *1000 | date:'mm:ss':'GMT+0'}}</div>
    </div>
    <div [ngClass]="{'expanded':queExpanded}" class="sliderPart">
       <input type="range" min="1" [max]="songTime" [(ngModel)]="elapsedTime" (ngModelChange)="onSLiderChange()" class="slider" id="myRange">
    </div>
    
    <div [ngClass]="{'expanded':queExpanded,'volClosed':!showVolSLider}" class="utubeIcon left">
        <mat-icon role="button" (click)="volToggle()" class="icons" [svgIcon]="volumeicons[volume]" aria-hidden="false" ></mat-icon>
        <div *ngIf="showVolSLider" class="volSlider">
            <input type="range" min="0" max="4" [(ngModel)]="volume" (ngModelChange)="onVolChange()" class="slider" id="myRange">
        </div>
    </div>
    <div [ngClass]="{'expanded':queExpanded,'volClosed':!showVolSLider}" class="utubeIcon">
      <mat-icon role="button" (click)="previous()" class="icons" svgIcon="prev" aria-hidden="false" ></mat-icon>
      <mat-icon role="button" (click)="play()" class="icons" svgIcon="play" aria-hidden="false" ></mat-icon>
      <mat-icon role="button" (click)="pause()" class="icons" svgIcon="pause" aria-hidden="false" ></mat-icon>
      <mat-icon role="button" (click)="next()" class="icons" svgIcon="next" aria-hidden="false" ></mat-icon>
    </div>
    
    
  </div>
  
  <!-- <div class="controlButtons">
    <app-buttons icon="fa fa-play" (buttonClicked)="play()"></app-buttons>
    <app-buttons icon="fa fa-pause" (buttonClicked)="pause()"></app-buttons>
    
  </div> -->
  <div [hidden]="!initializing" class="screenSwap">
    <div class="initText">
        <div hidden id="mininized">max</div>
       <div class="textIn">
          <div [ngStyle]="loaderStyle" class="loader"></div>
           <div style="padding-left: 20px;">Initializing.....</div>
      </div> 
    </div>
  </div>
  
</div>