.playr{
    height: 100%;
    width: 98%;
    margin: auto;
    position: relative;
    .screenSwap{
        width: 100%;
        height: 98%;
        background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 5px;
    }
    .initText{
        height: 100%;
        
        position: relative;
        .textIn{
        font-size: 250%;
        font-family: 'Cookie', cursive;
        width: 100%;
        height: 38%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        // display: flex;
        // justify-content: center;
        }
    }

    .repeatButton{
        height: 70px;
        left: 10%;
        margin: -20px 0 0 -80px;
        position: absolute;
        top: 50%;
        width: 160px;
        .icons{
            height: 30%;
            width: auto;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        
            flex-grow: 1;
            margin: -10px 0 0 0;
        }
    }

    .expandCollPL{
        transform: translateY(-50%);
        z-index: 999;
        font-size: 150%;
        height: 29%;
        left: 87%;
        position: absolute;
        top:11%;
        width: 60px;
        .icons{
            height: 35%;
            width: auto;
            position: absolute;
            top: 40%;
            transform: translateY(-50%);
        
            flex-grow: 1;
            margin: 0px 0 0 0;
        }
    }
    .expanded.expandCollPL{
        height: 25%;
        top: 17%;
    }

    .shuffle{
        height: 70px;
        left: 90%;
        margin: -20px 0 0 -80px;
        position: absolute;
        top: 50%;
        width: 160px;
        .icons{
            height: 30%;
            width: auto;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        
            flex-grow: 1;
            margin: -10px 0 0 0;
        }
    }

    .repeatButton.up{
        left: 50%;
        top: 63%;
        display: flex;
        justify-content: center;
        font-size: 150%;
    }

    .repeatButton .icons.isNotMobile{
            height: 60%;
            left:60%;
        }
    
    .thumbnail{
        width: 100%;
        left: 0;
        position: absolute;
        top: 25%;
        
    }
    .largeThumb{
        display: flex;
        justify-content: center;
    }

    .bars {
        height: 70px;
        left: 50%;
        margin: -40px 0 0 -80px;
        position: absolute;
        top: 45%;
        width: 160px;
        .icons{
            height: 150%;
            width: auto;
            flex-grow: 1;
            margin: -10px 0 0 0;
        }
    }

    @media(max-width:400px){
        .bars{
            top:45%;
        }
    }

    .bar ,.staticbar {
        background: #666;
         bottom: 1px;
         height: 30px;
         position: absolute;
         width: 12px;      
         animation: sound 0ms -800ms linear infinite alternate;
     }
     
     @keyframes sound {
         0% {
            opacity: .35;
             height: 15px; 
         }
         100% {
             opacity: 1;       
             height: 70px;        
         }
     }
     
     .bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
     .bar:nth-child(2)  { left: 20px; animation-duration: 433ms; }
     .bar:nth-child(3)  { left: 36px; animation-duration: 407ms; }
     .bar:nth-child(4)  { left: 52px; animation-duration: 458ms; }
     .bar:nth-child(5)  { left: 68px; animation-duration: 400ms; }
     .bar:nth-child(6)  { left: 84px; animation-duration: 427ms; }
     .bar:nth-child(7)  { left: 100px; animation-duration: 441ms; }
     .bar:nth-child(8)  { left: 116px; animation-duration: 419ms; }
     .bar:nth-child(9)  { left: 132px; animation-duration: 487ms; }
     .bar:nth-child(10) { left: 148px; animation-duration: 442ms; }


     .staticbar:nth-child(1)  { left: 1px;height: 30px; }
     .staticbar:nth-child(2)  { left: 20px;height: 70px; }
     .staticbar:nth-child(3)  { left: 36px; height: 50px; }
     .staticbar:nth-child(4)  { left: 52px; height: 30px; }
     .staticbar:nth-child(5)  { left: 68px; height: 70px; }
     .staticbar:nth-child(6)  { left: 84px; height: 50px; }
     .staticbar:nth-child(7)  { left: 100px; height: 30px; }
     .staticbar:nth-child(8)  { left: 116px; height: 70px; }
     .staticbar:nth-child(9)  { left: 132px; height: 50px; }
     .staticbar:nth-child(10) { left: 148px; height: 30px; }

    .utubeIcon{
        width: 70%;
        height: 16%;
       position: absolute;
        top: 88%;
        left:30%;
        transform: translateY(-50%);
        z-index: 999;
        display: flex;
        justify-content: space-around;
        transition: display 3s;
    }

    .utubeIcon.volClosed{
        width: 70%;
        left: 23%;
    }


    .utubeIcon.left.volClosed{
        width: 28%;
        left: 0%;
    }

    .utubeIcon.left{
        width: 30%;
        left: 0;
        justify-content: center;
        .icons{
           width: 35%;
        }
        .volSlider{
            width: 55%;
            position: relative;
        }
        .slider {
            -webkit-appearance: none;
            position: absolute;
            top: 45%;
            left:0%;
            transform: translateY(-50%);
            width: 100%;
            height: 6px;
            border-radius: 4px;
            background: rgba(0,0,0,0.8);
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
          }
          
          .slider:hover {
            opacity: 1;
          }
          
          .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 12px;
            height: 12px;
            border-radius: 7px;
            background: #4b90ff;
            cursor: pointer;
          }
          
          .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            background: #4b90ff;
            cursor: pointer;
          }
    }

    .expanded.utubeIcon{
        height: 35%;
        top: 82%;
    }

    .utubeTitle{
        width: 85%;
        height: 12%;
       position: absolute;
        top: 10%;
        transform: translateY(-50%);
        z-index: 999;
        display: flex;
        justify-content: flex-start;
        font-size: 150%;
        .titleNm{
            padding-left: 20px;
            font-family: 'Ubuntu', sans-serif;
            
        }
    }
    .ellFullTime{
        width: 86%;
        height: 12%;
        position: absolute;
        top: 75%;
        left: 7%;
        transform: translateY(-50%);
        z-index: 999;
        display: flex;
        justify-content: space-between;
        font-size: 80%;
        padding-top: 2%;
    }

    .expanded.ellFullTime{
        top: 50%;
    }

    .expanded.sliderPart{
        height: 20%;
        top:45%
    }
    
    .sliderPart{
        width: 90%;
        height: 12%;
        position: absolute;
        top: 71%;
        left: 5%;
        transform: translateY(-50%);
        z-index: 999;
        display: flex;
        justify-content: flex-start;
        font-size: 150%;
        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 0px;
            margin-top: 4px;
            border-radius: 4px;
            background: #666;
            outline: none;
            opacity: 1;
            -webkit-transition: .2s;
            transition: opacity .2s;
          }
          
          .slider:hover {
            opacity: 1;
          }
          
          .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 12px;
            height: 12px;
            border-radius: 7px;
            background: linear-gradient(135deg, rgba(0,63,65,1) 0%, rgb(0, 36, 43) 35%);
            cursor: pointer;
          }
          
          .slider::-moz-range-thumb {
            width: 12px;
            height: 12px;
            border-radius: 7px;
            background: linear-gradient(135deg, rgba(0,63,65,1) 0%, rgb(0, 36, 43) 35%);
            cursor: pointer;
          }
    }

    .expanded.utubeTitle{
        height: 40%;
        top: 27%;
    }
    @media(max-width:400px){
        .utubeTitle{
            font-size: 100%;
        }
    }

    @media(max-width:400px){
        .ellFullTime{
            font-size: 60%;
        }
    }

    .icons{
        height: 100%;
        flex-grow: 1;
    }

    .expanded .icons{
        height: 80%;
    }
    
}

.loader {
    width: 30px;
    height: 30px;
    border: 8px solid rgba(0,0,0,0.8);
    border-radius: 50%;
    border-top: 8px solid #00968775;
   -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


.slider1{ 
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: #666;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    overflow: hidden;
}

.slider1::-webkit-slider-runnable-track {
    background: #666;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
 .slider1::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px; /* 1 */
    height: 40px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw rgba(1, 210, 189, 0.63);
    border: 0px solid #999; /* 1 */
}

.slider1::-moz-range-track {
    height: 40px;
    background: #ddd;
}

.slider1::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw rgba(1, 210, 189, 0.63);
    box-sizing: border-box;
}

.slider1::-ms-fill-lower { 
    background: rgba(1, 210, 189, 0.63);
}

.slider1::-ms-thumb { 
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

.slider1::-ms-ticks-after { 
    display: none; 
}

.slider1::-ms-ticks-before { 
    display: none; 
}

.slider1::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

.slider1::-ms-tooltip { 
    display: none;
}



.largePlayer{
    .expanded.utubeIcon{
        height: 30%;
        top: 104%;
    }
    .utubeIcon.left.volClosed{
        width: 21%;
        left: 4%;
    }
    .utubeIcon.volClosed{
        left: 27%;
    }
.expanded.ellFullTime{
        top:90%;
        font-size: 80%;
    }
    .expanded.sliderPart{
        top: 91%;
    }
    .repeatButton{
        top: 74%;
    }
    .shuffle{
        top: 74%;
    }
    .bars{
        top: 72%;
    }
    .utubeTitle{
        font-size: 150%;
        width: 70%;
    }
    .expanded.expandCollPL{
        height: 25%;
        left: 82%;
        top: 12%;
    }
    @media(max-height: 1000px){
        @media(min-width: 400px){
            .utubeTitle{
                font-size: 180%;
        }
    }
    .expanded .icons{
        height: 20%;
    }
    .volSlider{
        height: 20%;
    }
}
}

$color-4: #009688;
$color-3: #42b1a7;
$color-2: #009688;
$color-5: #64ffdbea;
$color-1: #009687bd;

$color: $color-1, $color-2, $color-3, $color-4, $color-5;

@mixin anim() {
  @keyframes scale {
    0% {
        transform: scale(1);
    }
    50%,
    75% {
      transform: scale(2.5);
    }
    78%, 100% {
      opacity: 0;
    }
  }
}

body {
  overflow: hidden;
}

.container {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation-delay: 1s;
  }
  
  @for $i from 1 through 5 {
    .item-#{$i} {
      width: 20px;
      height: 20px;
      background: #f583a1;
      border-radius: 50%;
      border: 2px solid black;
      @include anim();
      background-color: nth($color, $i);
      margin: 7px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      &:before {
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: nth($color, $i);
        opacity: 0.7;
        animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
        animation-delay: 200ms * $i;
        transition: 0.5s all ease;
        transform: scale(1);
      }
    }
  }
  
 