.screenSwap{
    height:88%;
    width: 100%;
}
.videoOutput{
    height:100%;
    width: 100%;
}

.controlButtons{
    height: 12%;
    width: 100%;
    background-color: salmon;
}

.playr{
    height: 100%;
    width: 100%;
    // display: flex;
    // justify-content: flex-start;
}