
.LogoContainer{
    vertical-align: middle;
}


.abbrLogo{
    font-size:400%;
    text-align: center;
   font-family: 'Sedgwick Ave Display', cursive;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.fullLogo{
    font-size:150%;
    text-align: center;
    color: aliceblue;
    font-family: 'Cookie', cursive;
}

.loader {
    border: 8px solid rgba(0,0,0,0.8);
    border-radius: 50%;
    border-top: 8px solid #00968775;
   -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
