.adder{
    height: 100%;
    width: 98%;
    margin: auto;
    position: relative;
    .box{
        width: 100%;
        height: 90%;
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
    }
    .inputBox {
        width: 65%;
        height: 0px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 30px;
        background: #2d2d2dad;
        color:white;
        padding: 20px; 
        margin-left: 3%;   
    }
    input:focus{
        outline-color:transparent;
        border-color: #64ffda;
    }
    
    .buttons{
        width: 15%;
        height: 44px;
        position: absolute;
        top: 50%;
        left: 83%;
        transform: translateY(-50%);
        .icons{
            padding-left: 12%;
            padding-top: 7px;
            padding-bottom: 7px;
            height: 30px;
            width: 30px;
        }  
    }

    .horizontal{
        .inputBox {
            width: 60%;
            height: 10px;
               
        }
        .buttons{
            width: 30%;
            height: 54px;
            left: 72%;
            transform: translateY(-50%);
            .icons{
                height: 40px;
                width: 40px;
            }  
        }
    }
    
}


.box.isMobile{
    display: flex;
    justify-content: flex-start;
}

.adderinputField{
    width: 100%;
    height: 30%;
    padding-top: 3%;
    align-content: center;
    color: white;
    >mat-form-field{
        width: 90%;
        height: 100%;
        padding-left: 5%;
        
    }
    mat-error{
        width: 84%;
        padding-left: 8%;
        padding-top: 0;
        font-size:80%;
        text-align:right ;
    }
}
.isMobile .adderinputField{
    width: 50%;
    height: 30%;
    padding-top:1%;
    align-content: center;
    color: white;
    >mat-form-field{
        width: 90%;
        height: 100%;
        padding-left: 5%;
        
    }
    mat-error{
        width: 84%;
        padding-left: 8%;
        padding-top:10px;
        font-size:60%;
        text-align:right ;
    }
}

.bottomFIeld{
    display: flex;
    justify-content: flex-start;
    .bottom{
        height: 100%;
        width: 60%;
        padding-left: 5%;
    }
    mat-form-field{
        width: 100%;
        height: 100%;
          
    }
}

.isMobile .bottomFIeld{
    display: flex;
    justify-content: flex-start;
    .bottom{
        height: 100%;
        width: 70%;
        padding-left: 5%;
    }
    mat-form-field{
        width: 100%;
        height: 100%;
          
    }
}

.icons{
    height: 80%;
    width: 13%;
    padding-top: 1%;
}

.isMobile .icons{
    height: 100%;
    width: 13%;
    padding-top: 20px;
    padding-left: 5%;
}
