

.headerBar{
    background-color: cadetblue;
    margin: 0px;
}
.contentSection{
    //background: rgb(252,70,107);
    //background: linear-gradient(90deg, rgba(252,70,107,1) 0%, rgba(29,67,80,1) 95%);
    
    background-image: url(../assets/trianglify-lowres.png);
    background-size: cover;
    
    margin: 0px;
}