
.LogoContainer{
    vertical-align: middle;
}


.abbrLogo{
    font-size:400%;
    text-align: center;
   font-family: 'Sedgwick Ave Display', cursive;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.fullLogo{
    font-size:150%;
    text-align: center;
    color: aliceblue;
    font-family: 'Cookie', cursive;
}


.loginTabs{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content:space-evenly;
    background-color: #009688;
    color: #f5f5f5;
    font-family: 'Ubuntu', sans-serif;
            
}
.loginTab{
    width: 50%;
    text-align: center;
    vertical-align: middle;
}

.loginTabs .activeTab{
    background-color: #42b1a7;
}

.loginFormSection,.regFormSection{
    width: 100%;
    height: 85%;
}

.loginputField{
    width: 100%;
    height: 25%;
    align-content: center;
    >mat-form-field{
        width: 84%;
        height: 50%;
        padding-left: 8%;
        padding-top: 11%;
    }
    >mat-error{
        width: 84%;
        padding-left: 8%;
        padding-top: 3%;
        font-size:55%;
        text-align:right ;
    }
    
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        background-color: transparent !important;
        background-image: none !important;
        -webkit-text-fill-color: white !important;
        transition: background-color 5000s ease-in-out 0s;

    }
}
.loginButton{
    width: 100%;
    height: 30%;
    padding-top: 15%;
    
            
    .buttons{
        height: 65%;
        display: flex;
        align-content: space-around;
        
    
    >button{
        width: 34%;
        height: 80%;
        margin-left: 11%;
        background-color: #009688;
        color: #f5f5f5;
        font-family: 'Ubuntu', sans-serif;
    }
    >button:disabled{
        background-color: #00968775;
    }
    }
    >mat-error{
        width: 84%;
        padding-left: 8%;
        font-size:70%;
        text-align:center ;
    }
}

.reginputField{
    width: 100%;
    height: 17%;
    align-content: center;
    >mat-form-field{
        width: 84%;
        height: 20%;
        padding-left: 8%;
        padding-top: 4%;
    }
    >mat-error{
        width: 84%;
        padding-left: 8%;
        padding-top: 3%;
        font-size:55%;
        text-align:right ;
    }
}

.regButton{
    width: 100%;
    height: 28%;
    padding-top: 9%;
    display: flex;
    align-content: space-around;
    
            
    >button{
        width: 34%;
        height: 55%;
        margin-left: 11%;
        background-color: #009688;
        color: #f5f5f5;
        font-family: 'Ubuntu', sans-serif;
            
    }
    >button:disabled{
        background-color: #00968775;
    }
}

.setBackground{
    background-image: url(../../assets/trianglify-lowres.png);
    background-size: cover;
}