<div [ngStyle]="loginStyle">
        <div class="loginTabs" [ngStyle]="tabTextStyle">
                <div 
                class="loginTab" 
                [ngClass]="{'activeTab':loginSelected}"
                role="button"
                (click)="loginClicked()"
                [ngStyle]="tabTextAlignStyle">
                LOGIN
            </div>
            <div 
                class="loginTab" 
                [ngClass]="{'activeTab':regSelected}"
                role="button"
                (click)="registerClicked()"
                [ngStyle]="tabTextAlignStyle">
                REGISTER
            </div>
        </div>
        <div [hidden]="regSelected" class="loginFormSection" [ngStyle]="inputTextStyle">
                <div class="loginputField">
                        <mat-form-field>
                                <input matInput placeholder="Username">
                        </mat-form-field>
                </div>
                <div class="loginputField">
                        <mat-form-field>
                                <input matInput placeholder="Password">
                        </mat-form-field>
                </div>
                <div class="loginButton">
                    <button 
                        [ngStyle]="inputTextStyle" 
                        mat-raised-button>
                        Login
                    </button>
                    <button 
                        [ngStyle]="inputTextStyle" 
                        mat-raised-button
                        (click)="openMusicGuest()">
                        Guest Login
                    </button>
                </div>


        </div>
        <div [hidden]="loginSelected" class="regFormSection" [ngStyle]="inputTextStyle">
                <div class="reginputField">
                        <mat-form-field>
                                <input matInput
                                [(ngModel)]="username" 
                                placeholder="Username"
                                (ngModelChange)="onUsernameChange($event)">
                        </mat-form-field>
                </div>
                <div class="reginputField">
                        <mat-form-field>
                                <input matInput
                                [(ngModel)]="eml" 
                                placeholder="Email ID"
                                (ngModelChange)="onEmailChange($event)"
                               >
                        </mat-form-field>
                </div>
                <div class="reginputField">
                        <mat-form-field>
                                <input matInput
                                [(ngModel)]="pwd"  
                                placeholder="Password"
                                (ngModelChange)="onPwdChange($event)"
                               >
                        </mat-form-field>
                </div>
                <div class="reginputField">
                        <mat-form-field>
                                <input matInput
                                [disabled]="!otpSentOnce" 
                                [(ngModel)]="otp"
                                (ngModelChange)="onOTPChange($event)" 
                                placeholder="OTP">
                        </mat-form-field>
                </div>
                <mat-error >This is error msg</mat-error>
                <div class="regButton">
                    <button 
                        [ngStyle]="inputTextStyle"
                        [disabled]="invalidEmail || invalidPassword || invalidUsername" 
                        mat-raised-button
                        (click)="sendOTP()">
                        {{otpSentOnce?'Resend OTP':'Send OTP'}}
                    </button>
                        <button 
                        [ngStyle]="inputTextStyle"
                        [disabled]="!otpSentOnce || invalidEmail || invalidPassword || invalidUsername" 
                        (click)="registerUser()"
                        mat-raised-button>Register</button>
                </div>

        </div>
    </div>
    