<div mat-dialog-title>Title: 
        <mat-form-field color="accent">
                <input [disabled]="noOfTru!=1" maxlength="30" matInput [(ngModel)]="titleText">
        </mat-form-field>
</div>
<div mat-dialog-content>
    <div *ngIf="showLoading" class="loader">
        <div class="loadText">
                Loading....
        </div>
    </div>
    <div *ngIf="isEmptySearch" class="loader">
            <div class="loadText">
                    No rows to Show
            </div>
        </div>
        <mat-radio-group>
            <div class="example-box" role="button" *ngFor="let song of searchResults;let in = index">
                    <div class="thumbNail">
                        <img [src]="song.thumbnailUrl">
                    </div>
                    <div class="songTitle">
                            <div class="title"> {{song.title | titlecase}}</div>
                                <div class="chanell">
                                       By {{song.channelTitle}}
                                </div>
                    </div>
                    <div class="closer">
                                <mat-checkbox class="example-margin" (ngModelChange)="boolChange($event,in)" [(ngModel)]="checkboxBool[in]"></mat-checkbox>
                    </div>
            </div>
             
        </mat-radio-group>

  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [disabled]="noOfTru==0" [mat-dialog-close]="sendData()" cdkFocusInitial>Add to Queue</button>
</div>

