<div mat-dialog-title>Title: 
        <mat-form-field>
                <input matInput [(ngModel)]="data.title">
        </mat-form-field>
</div>
<div mat-dialog-content>
        <mat-radio-group [(ngModel)]="selectIndex" >
            <div class="example-box" role="button" [ngClass]="{'isMobile':screenSz.isMobile}" *ngFor="let song of searchResults;let in = index" [ngClass]="{'current':in==currentIndex}" cdkDrag>
                    <div class="thumbNail">
                        <img [src]="song.thumbnailUrl">
                    </div>
                    <div class="songTitle">
                            {{song.title | titlecase}}
                    </div>
                    <div [hidden]="in==currentIndex" class="closer">
                            <mat-radio-button class="example-margin" [value]="in"></mat-radio-button>
                    </div>
            </div>
             
        </mat-radio-group>

  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Add to Queue</button>
</div>

