.example-box {
    width: 95%;
    margin: auto;
    margin-top: 5px;
    height: 60px;
    padding: 1%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    cursor: move;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;    
    font-size: 100%;
    position: relative;
    .thumbNail{
        width: 30px;
        height: 40px;
        margin-left: 5px;
        margin-right: 5px;
        position: relative;
        >img{
            height: 90%;
            width: auto;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
        }
    }

    

    .songTitle{
        height: 35px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 60%;
        padding-left: 10%;
        padding-right: 5%;
        padding-top: 3%;
        padding-bottom: 2%;
        font-family: 'Ubuntu', sans-serif;
            
    }
    .closer{
        position: absolute;
        top: 20px;
        right: 10px;
    }  
}

.mat-dialog-title {
    margin: 0 0 -10px;
    display: block;
    mat-form-field{
        margin-left: 5px;
        width: 230px;
        input{
            padding-left: 5px;
        }
    }
    
}






.mat-dialog-actions {
    padding: 16px 0;
    display: flex;
    justify-content: flex-end;
    min-height: 52px;
    align-items: center;
    margin-bottom: -24px;
}

.mat-dialog-content {
    display: block;
    margin: 0 -24px;
    padding: 0 11px;
    max-height: 65vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.isMobile{

    .songTitle{
        font-size: 80%;
        padding-left: 8%;
    }

    .thumbNail>img{
        height: 70%;
    }
} 

.loader {
   
    height: 100px;
    position: relative;
    .loadText{
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    }
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media(max-width:400px){
       
    .songTitle{
        font-size: 80%;
        padding-left: 8%;
    }

    .thumbNail>img{
        height: 70%;
    }
      
  } 