<div [ngStyle]="headerBarStyle">
    <app-header></app-header>
</div>
<div [ngStyle]="musicPlayerStyle">
    <div [ngStyle]="leftStyle">
        <div [ngStyle]="playerStyle">
            <app-player [playerQueue]="playerQueue" [currentIndex]="currentIndex"></app-player>
        </div>
        <div [ngStyle]="adderStyle">
            <app-music-add></app-music-add>
        </div>
    </div>
    <div [ngStyle]="rightStyle">
        <app-queue [playerQueue]="playerQueue" [currentIndex]="currentIndex"></app-queue>
    </div>
</div>