

<div [ngStyle]="headerBarStyle">
    <app-header [username]="loggedInUser"></app-header>
</div>
<div class="setBackground" [ngStyle]="musicPlayerStyle">
    <div [ngStyle]="leftStyle">
        <div [ngStyle]="largePlayer?largePlayerStyle:playerStyle">
            <app-player 
                [queExpanded]="expanded" 
                [playerQueue]="playerQueue" 
                [currentIndex]="currentIndex" 
                (onIndexChange)="currentIndex=$event" 
                [largePlayer]="largePlayer"
                (onLargePlayerChange)="onLargePlayerChange($event)"></app-player>
        </div>
        <div [hidden]="expanded || largePlayer" [ngStyle]="adderStyle">
            <app-music-add
            [playlists]="playlists"
            [selectedPlaylist]="selectedPlaylist"
            (onAdd)="addVideo($event)"></app-music-add>
        </div>
    </div>
    <div [hidden]="largePlayer" [ngStyle]="rightStyle">
        <app-queue 
            [playerQueue]="playerQueue"
            [playlists]="playlists"
            [selectedPlaylist]="selectedPlaylist"
            [addable]="addable"
            [defaultPlaylist]="defaultPlaylist"
            (onAddPlaylist)="onAddPlaylist($event)"
            (onModifyPlaylist)="onModifyPlaylist($event)"
            (onDeletePlaylist)="onDeletePlaylist($event)"
            (onChangePlaylist)="onChangePlaylist($event)"
            (onExpCollapse)="onExpCollapse($event)" [currentIndex]="currentIndex" (onIndexChange)="currentIndex=$event" (onDoubleClic)="playSong($event)"></app-queue>
    </div>
</div>