

<div [ngStyle]="headerBarStyle">
    <app-header [username]="loggedInUser"></app-header>
</div>
<div class="setBackground" [ngStyle]="musicPlayerStyle">
    <div [ngStyle]="leftStyle">
        <div [ngStyle]="playerStyle">
            <app-player [queExpanded]="expanded" [playerQueue]="playerQueue" [currentIndex]="currentIndex" (onIndexChange)="currentIndex=$event" ></app-player>
        </div>
        <div [hidden]="expanded" [ngStyle]="adderStyle">
            <app-music-add  (onAdd)="addVideo($event)"></app-music-add>
        </div>
    </div>
    <div [ngStyle]="rightStyle">
        <app-queue [playerQueue]="playerQueue" (onExpCollapse)="onExpCollapse($event)" [currentIndex]="currentIndex" (onIndexChange)="currentIndex=$event" (onDoubleClic)="playSong($event)"></app-queue>
    </div>
</div>