@import '~@angular/material/theming';

// Include non-theme styles for core.
@include mat-core();

// Define your application's custom theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-teal, A200);
$theme: mat-dark-theme($primary, $accent);

// Include theme styles for Angular Material components.
@include angular-material-theme($theme);



