/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Cabin|Cookie|Oxygen|Sedgwick+Ave+Display|Ubuntu&display=swap');
@import '../node_modules/bulma/bulma.sass';


.appBody{
    margin: 0px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//Bulma settings
$control-border-width:2px;
$control-border-color:transparent;
$input-shadow:none;
