   
    <div class="queue" >
        <!-- <div cdkDropList class="box" (cdkDropListDropped)="drop($event)" >
            <div *ngFor="let song of playerQueue;let in = index" class="queElements" cdkDrag >
                <div  class="queueElem" [ngClass]="{'current':in==currentIndex}">
                    <div class="thumbNail">
                        <img [src]="song.thumbnail">
                    </div>
                    <div class="songTitle">
                            {{song.title}} {{currentIndex}}
                    </div>
                </div>
                
            </div>
        </div> -->
        
        <div cdkDropList class="box example-list" (cdkDropListDropped)="drop($event)">
                <div class="queueHeader">
                         <div class="dropbox">
                               <div role="button" (click)="isClosed=!isClosed" class="content">
                                    <div  class="playlistName">{{playlists[selectedPlaylist].playlist}}</div>
                                    <div class="arrow">
                                        <mat-icon class="icons" [svgIcon]="isClosed?'down':'up'" aria-hidden="false" ></mat-icon>
                                    </div>
                               </div>
                               <div [hidden]="!addable" class="addPL">
                                <mat-icon (click)="addPL()" class="icons" [ngClass]="{'expand':!showExpand}" svgIcon="addblack" aria-hidden="false" ></mat-icon>
                               </div>
                               <div [hidden]="isClosed" class="optionList">
                                   <div class="listItems" [ngClass]="{'selected':selectedPlaylist==in}" *ngFor="let playlist of playlists;let in=index">

                                       <div (click)="selectPL(in)" class="listItem">
                                           {{playlist.playlist}}
                                       </div>
                                       <div [hidden]="in==0" class="border"></div>
                                       <div [hidden]="in==0" class="optionIcon">
                                            <mat-icon (click)="editPL(in)" class="icons" svgIcon="edit" aria-hidden="false" ></mat-icon>
                                            <mat-icon (click)="deletePL(in)" class="icons" svgIcon="delete" aria-hidden="false" ></mat-icon>
                                       </div> 
                                       
                                    </div>

                               </div>
                            </div>
                            
                    <div role="button" [hidden]="!showExpand" (click)="onExpandCollapse()" class="expand">{{expanded?'Collapse':'Expand'}}</div>
                    </div>
                <div class="songList">
                    <div class="example-box" role="button"  *ngFor="let song of playerQueue;let in = index" (click)="playSong(in)" [ngClass]="{'current':in==currentIndex}" cdkDrag>
                        <div [hidden]="in==currentIndex" class="handler">
                            <mat-icon role="button" class="icons" svgIcon="drag" aria-hidden="false" cdkDragHandle></mat-icon>
                        </div>
                        <div class="thumbNail">
                            <img [src]="song.thumbnail">
                        </div>
                        <div class="songTitle">
                                {{song.title | titlecase}}
                        </div>
                        <div [hidden]="in==currentIndex" class="closer">
                                <mat-icon role="button" (click)="remSong(in)" class="icons" svgIcon="cross" aria-hidden="false" ></mat-icon>
                        </div>
                       
                
                    </div>
                </div>    
                
        </div>
    </div>

