.queue{
    height: 100%;
    width: 98%;
    margin: auto;
    position: relative;
    .box{
        width: 100%;
        height: 98%;
        background-color: rgba(255, 255, 255, 0.3);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 5px;
        
        
    }
    .queueHeader{
      height: 8%;
      max-height: 40px;
      display: flex;
      justify-content: space-between;
      padding: 0px 20px;
      .expand{
        font-size: 90%;
        padding-top: 3px;
        font-weight: bold;
        color: #1e3d26;
      }
      
      .dropbox{
        width: 70%;
        height: 95%;
        color: white;
        font-family: 'Ubuntu', sans-serif;
        display: flex;
        justify-content: space-between;
        position: relative;
        .addPL{
          width: 20%;
          color: rgba(0, 0, 0, 0.8);
          .icons{
            width: 15%;
            height: 60%;
            top: 20%;
            position: absolute;
            left: 75%;
          }
          .expand.icons{
            left: 80%;
          }
        }
        .content{
          width: 75%;
          background-color: rgba(0,0,0,0.5);
          border-radius: 50px;
          position: relative;
          .playlistName{
          width: 70%;
          position: absolute;
          transform: translateY(-50%);
          top: 50%;
          left: 5%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          }
          .arrow{
            width: 5%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          right: 5%;
          .icons{
            height: 100%;
            width: 100%;
            rotate: (90);
          }
        }
        }
        .optionList{
          width: 120%;
          min-width: 230px;
          position: absolute;
          top: 100%;
          left: 5px;
          z-index: 9999;
          background-color: #f0f0f0;
          color: rgb(39, 39, 39);
          border-radius: 5px;
          .selected{
            color: #2D5036;
            font-size: 85%;
            font-weight: bold;
          }
          .listItems{
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: space-between;
            position: relative;
            font-size: 80%;
            .listItem{
              width: 70%;
              position: absolute;
              top: 50%;
              left: 5%;
              transform: translateY(-50%);
            }
            .border{
              width: 90%;
              position: absolute;
              top: 2.5%;
              left: 5%;
              transform: translateY(-50%);
              border-top: 1px solid rgba(0, 0, 0, 0.1);
            }
            .listItems:nth-child(1) .border{
              border-top: 0px solid black;
            }
            .optionIcon{
              width: 30%;
              height: 100%;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 0;
              .icons{
                height: 100%;
                width: 30%;
                padding-left: 10%;
              }
            }
          }
        }
      }
      .select-items{
        border-radius: 10px;
      }
    }
     
    
    .queElements{
        width: 95%;
        height: 10%;
        margin: auto;
        position: relative;
    }
    .queueElem{
        width: 100%;
        height: 90%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(165, 42, 42, 0.5);
        display: flex;
        justify-content: flex-start;
    }
    .queueElem.current{
        background: brown;
    }
    .thumbNail{
        height: 100%;
        width: 30%;
        margin: auto;
        position: relative;
        >img{
            height: 90%;
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
        }
    }
    .songTitle{
        height: 100%;
        width: 65%;
    }
    
    
}
.example-list {
    width: 500px;
    max-width: 100%;
    min-height: 60px;
    padding-top: 5px;
    display: block;
    background: white;
    border-radius: 4px;
    
  }
  
  .songList{
    height: 89%;
    overflow: auto;
    margin-top: 5px;
  }

  .songList::-webkit-scrollbar {
    width: 4px;
  }

  .example-box {
    width: 95%;
    margin: auto;
    margin-bottom: 5px;
    height: 60px;
    padding: 1%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;    
    font-size: 100%;
    position: relative;
    
    .thumbNail{
        width: 60px;
        margin-left: 5px;
        margin-right: 5px;
        position: relative;
        >img{
            height: 90%;
            width: auto;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
        }
    }
    .handler{
      cursor: move;
    }
    .songTitle{
        height: auto;
        width:55%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;
        line-height: 25px;
        word-break: break-word;    
    }
    .closer{
      position: absolute;
      top: 8px;
      right: 8px;
      .icons{
        height: 15px;
        width: 15px;
        rotate: (90);
      }
    }
    .player{
      position: absolute;
      bottom: 0px;
      right: 8px;
      z-index: 999;
      .icons{
        height: 25px;
        width: 25px;
        rotate: (90);
      }
    }
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .current{
    background: rgba(0, 0, 0, 0.9);
    color: #01D2BE;
    .thumbNail{
      padding-left: 26px;
    }
  }